# Copyright (c) 2020 Noir Guo
# SPDX-License-Identifier: MIT

config SHIELD_noir88rgb_LEFT
    def_bool $(shields_list_contains,noir88rgb_left)

config SHIELD_noir88rgb_RIGHT
    def_bool $(shields_list_contains,noir88rgb_right)
